@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --orange:#ffa500;
    --blue:#282857;
    --cinza:#c4c4c4;
}

html body {
    width: 100%;
}

header {
    background-color:var(--orange);
    width: 100%;
    height: 500px;
}

.cabeca {
    min-width: 1000px;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li {
    padding: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blue);
}

nav ul button {
    background-color: transparent;
    padding: 10px 40px;
    margin-left: 10px;
    border:1px solid var(--blue);
    border-radius: 5px;
    font-weight: bold;
}

nav ul button:hover {
    background-color: var(--blue);
    transition: background, color 0.4s;
    color: white;
}


nav #logo {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blue);
    font-size: 30px;
}

.cabeca .caixaaz {
    min-width: 1000px;
    max-width: 300px;
    height: 450px;
    background-color: var(--blue);
    border-radius: 10px;
    box-shadow: 2px 0px 2px 2px black;
}

.caixaaz img {
    width: 50%;
    position: absolute;
    right: 2%;
}

#text1 #car {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    position: absolute;
    bottom: 250px;
    left: 300px;
}

#text1 p {
    color: white;
    width: 300px;
    position: absolute;
    bottom: 200px;
    left: 300px;
    letter-spacing: 1px;
    font-size: 17px;
    
}

#catalogo {
    min-width: 1000px;
    max-width: 300px;
    padding: 195px 0px 0px 180px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

#bpesquisa  {
    background-color:#e6e6e6;
    width: 75%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content:center;
    padding-right: 160px;
    padding-top: 50px;
    border-radius: 10px;
}

#bpesquisa #pesquisa {
    width: 810px;
    height: 43.5px;
    margin-left: 80px;
    margin-bottom: 50px;
    border: none;
    border-radius:5px 0px 0px 5px ;
}

#bpesquisa button {
    background-color: var(--blue);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    padding:10px 50px;
    border-radius: 0px 5px 5px 0px;
    margin: 0px -70px 50px 0px;
    border: none;
    
}

#bpesquisa button:hover {
    background-color: var(--cinza);
    color: black;
}


.contender {
    width:1100px;
    height: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 45px;
    padding-top: 50px;
    margin: 0px auto;

    
}

.card {
    width:330px;
    background-color:#c4c4c43b;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 8px;
}

.audit h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 8px;
}

.audit p {
    font-style: italic;
}

.audit button {
    width: 90%;
    padding: 20px 0px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    color: white;
    font-weight: bolder;
}

#p p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 127px;
    margin-top: 40px;
}

.conteudo {
    width:1087px;
    height: 100%;
    background-color: #c4c4c4;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    margin:15px 0px 70px 127px;
    
}

.conteudo img {
    background-color: #4b4b4b;
}

.conteudo .about {
    padding-top: 100px;
    text-align: end;
    padding-right: 90px;
}

.conteudo .about h2 {
    font-family: Arial, Helvetica, sans-serif;

}

.conteudo .about p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    letter-spacing: 2px;
    padding-top: 20px;
}

.gridd {
    width: 100%;
    height: 100%;
    background-color: #c4c4c4;
}

.gridd #pe {
    margin-left: 127px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    padding-top: 100px;
}

.grid1 {
    width:1087px;
    height: 100%;
    background-color: white;
    margin-left: 127px;
    margin-top: 30px;
    margin-bottom: 70px;
    display: inline-grid;
    grid-template-columns:1fr 1fr;
}

.gri {
    width: 350px;
    height: 200px;
    display: inline-grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    grid: 20px;
    margin: 10px;
    margin-left: 127px;
    
}

.gri #br {
    display: block;
    padding-left: -50px;
}

.gri h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: -70px;

}


.gridd p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    line-height: 20px; 
    margin-left: -70px;   
}


.gri img {
    width: 80px;
    height: 80px;
    margin-left: -30px;
}

.foter1 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--orange);
    color: white;
}

.foter img {
    width: 30px;
    height: 30px;
}

.foter h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    padding-top: 70px;
}

.foter p {
    font-family: Arial, Helvetica, sans-serif;
}

.devb {
    background-color: #282857;
    width: 100%;
}

.devb P {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}






